**Data Preparation**

In [1]:
#import the necessary library and load the dataset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df = pd.read_csv('/content/exchange-rates_lka.csv')

In [2]:
#Drop the second row (index 1)
df.drop(index=1, inplace=True)

In [3]:
#Finding the number of columns and rows and print out the list of columns
print("Number of columns:", len(df.columns))
print("Number of rows:", len(df))
print("Column names:", df.columns.tolist())

Number of columns: 17
Number of rows: 727
Column names: ['Iso3', 'StartDate', 'EndDate', 'Area Code', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'ISO Currency Code', 'Currency', 'Year Code', 'Year', 'Months Code', 'Months', 'Unit', 'Value', 'Flag']

In [4]:
#Drop irrelevant columns
columns_to_drop = [
    'Iso3','EndDate','Area Code','Area Code (M49)','Area','Element Code',
    'Element','ISO Currency Code','Currency','Year Code','Months Code','Unit','Flag'
]
df.drop(columns=columns_to_drop, inplace=True)

#Remove duplicate rows
df.drop_duplicates(inplace=True)

In [5]:
#Rename columns for clarity
df.rename(columns={
    'StartDate': 'Date',
    'Year': 'Year',
    'Months': 'Month',
    'Value': 'Exchange_Rate'
}, inplace=True)

In [6]:
#Convert start and end dates to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')

In [7]:
#Convert Exchange_Rate to numeric format
df['Exchange_Rate'] = pd.to_numeric(df['Exchange_Rate'], errors='coerce')

In [8]:
#Drop rows with missing values
df = df.dropna()

In [9]:
# Remove duplicate rows in 'Date'
df.drop_duplicates(subset=['Date'], inplace=True)

<ipython-input-9-b38fc5831795>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['Date'], inplace=True)

In [10]:
#Extract Year and Month for filtering and grouping
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

#Sort the data by Date
df.sort_values(by='Date', inplace=True)

<ipython-input-10-1e4520f68364>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Date'].dt.year
<ipython-input-10-1e4520f68364>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month
<ipython-input-10-1e4520f68364>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='Date', inplace=True)

In [11]:
#Save cleaned dataset
df.to_csv('cleaned_exchange_rates.csv', index=False)

#Print the first few rows of the cleaned data frame
print(df.head())

        Date  Year  Month  Exchange_Rate
2 1970-01-01  1970      1        5.95237
3 1970-02-01  1970      2        5.95237
4 1970-03-01  1970      3        5.95237
5 1970-04-01  1970      4        5.95237
6 1970-05-01  1970      5        5.95237

In [12]:
#The number of columns and rows in the cleaned df
print("Number of columns:", len(df.columns))
print("Number of rows:", len(df))

Number of columns: 4
Number of rows: 623